@import 'bootstrap/dist/css/bootstrap.min.css';

.app {
  background-image: url('https://images.unsplash.com/photo-1644840379571-2a973eee0726?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}

.content {
  display: grid;
  grid-template-columns: 700px 450px;
  margin: 0 auto;
  &__page {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    max-height: 420px;
    .filter {
      margin-top: 20px;
    }
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-weight: 800;
  font-size: 24px;
  color: black;
  background-color: #fff;
  padding: 0px 6px;
  &:hover {
    color: red;
  }
}
.form-add {
  max-height: fit-content;
}

.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
